body{ background-color: "black"; }

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 9px #00000041;
}

h2{
    font-size: 1.25rem;
    margin-right: 4px;
    letter-spacing: 3px;
    text-shadow: 0px 1px 8px #00000041;
}

.text{ color: #e0e0eb; }

.button{ color: #cacadd; }

header, main, footer{
    background-color: #202050;
    min-height: 100px;
    width: 92%;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 6px;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    "dark light"
    "pink orange"
    "rand rand";
}

#btnDarkTheme{ grid-area: "dark"; }
#btnLightTheme{ grid-area: "light"; }
#btnPinkTheme{ grid-area: "pink"; }
#btnOrangeTheme{ grid-area: "orange"; }
#btnRandomTheme{ grid-area: "rand"; }

#theme, #img, #form, #xp{
    background-color: darkblue;
    width: 96%;
    margin: 10px;
    border: 2px solid blue;
    border-radius: 5px;
}

#img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "p1 img1"
    "tab p2"
    "p3 img2"
    "img3 p4"
}

#p1{ grid-area: "p1"; }
#p2{ grid-area: "p2"; }
#p3{ grid-area: "p3"; }
#p4{ grid-area: "p4"; }
#img1{ grid-area: "img1"; }
#img2{ grid-area: "img2"; }
#img3{ grid-area: "img3"; }
#table{ grid-area: "tab"; }

p{
    font-family: Geneva;
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

textarea{ resize: none; }

table{
    height: auto;
    width: auto;
}

th{ height: 30%; }